# PYTHON
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

- Works on different Platforms(Window,MAc,Linux)
- open source programing language has simple syntax similar like english language
- it has multiple lib and frame works(numpy, pandas, matplotlib, seaborn, scikitslearn)
-

In [5]:
python --version

NameError: name 'python' is not defined

In [7]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:22:19) [Clang 14.0.6 ]

In [11]:
#Displaying messages

print('Basics of python')

Basics of python

# Python Syntax
- indendation
-

In [13]:
if 5>2:
print('five is greater than 2!')

IndentationError: expected an indented block after 'if' statement on line 1 (2829832574.py, line 2)

In [15]:
if 5>2:
    print('five is greater than 2!')

five is greater than 2!

In [17]:
if 5 > 2:
 print("Five is greater than two!") 
        print("Five is greater than two!")

IndentationError: unexpected indent (3772748168.py, line 3)

In [19]:
if 5 > 2:
    print("Five is greater than two!") 
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

# Comments 

- Comments can be used to explain Python code.

- Comments can be used to make the code more readable.

- Comments can be used to prevent execution when testing code.

- comment starts with # , and python will ignore them

In [21]:
#this is comment
print('this is comment : #')

this is comment : #

In [ ]:
# this
# is 
# multi line comment


''' 
this is 
multi line
comment
'''

# Python Variables

- A variable is created the moment when you assign a value to it

In [25]:
x=5  #here x is a variable
print(x)

5

# Data Types

- Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int(whole numbers), float(points)

#Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [27]:
x = 'Hello Kavya'
print(x)    # here x is string alwasys has command in '...' or ".."

Hello Kavya

In [29]:
print(type(x)) # type() this will gives a datatype-- builtin function

<class 'str'>

# Python- strin slicing

- index based
- return a range of characters by using slicing index
- [start index : end index] - starts with zer0 : n-1 ends

In [41]:
a = 'Hello world'
print(a[2:5])

llo

In [45]:
print(a[:6]) # untill (6-1) index

Hello

In [47]:
print(a[2:]) # stars from index 2

llo world

In [49]:
print(a[-5:-2])

wor

# built-in functions

- upper() : returns strin in upper case
- lower() : return string into lower case
- strip() : remove any white spaces from begining and ending
- replace() : replace string into anther string

In [51]:
a= 'Hello world'
print(a.upper())

HELLO WORLD

In [53]:
print(a.lower())

hello world

In [57]:
a = '  kavya..  '
print(a)
print(a.strip())

  kavya..
kavya..

In [61]:
a = "Wello World!!"
print(a)

Wello World!!

In [71]:
print(a.replace('W' ,'H'))

Hello Horld!!

# string concatination

- combine 2 string by using + operator

In [73]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [77]:
c = a + ' ' + b + '!'
print(c)

Hello World!

# string Format

- used to add string + variable
- to specify a string is an f-string , simply put f infront of string literal
- and add {} as placeholder for a variable

In [79]:
age = 27
name = 'my name is kavya, i am ' + age
print(name)

TypeError: can only concatenate str (not "int") to str

In [87]:
age = 27
name = 'my name is kavya , i am {age}'  # tha adding variable must br in {}
print(name)

my name is kavya , i am {age}

In [89]:
age = 27
name = f'my name is kavya , i am {age}'  # f 'tha adding variable must br in {}
print(name)

my name is kavya , i am 27

In [91]:
age = 27
name = f'my name is kavya , i am {age} old.'  # f 'tha adding variable must br in {}
print(name)

my name is kavya , i am 27 old.

In [31]:
y='5'
print(y)
print(type(y))

5
<class 'str'>

# python input functions

input function: machine ask us to write an input value

In [2]:
age= input('what is your name')

what is your name kavya

In [5]:
age=input('Guess my age ::: ')
print('Your age is ',age)

Guess my age :::  27

Your age is  27

In [33]:
x= 5
print(x)
print(type(x))

5
<class 'int'>

In [35]:
x=5.0
print(x)
print(type(x))

5.0
<class 'float'>

In [37]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

# python Casting

change the data types into different data type

In [15]:
x=float(2.8)
print(type(x))

<class 'float'>

In [17]:
y = int(x)
print(y)
print(type(y))

2
<class 'int'>

In [21]:
z= str(x)
print(z)

2.8

In [23]:
print(y+z)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# boolean Values
- True, False
- used in EDA - use bool()

In [25]:
True

True

In [27]:
type(True)

bool

In [29]:
my_str = 'Kavya'

In [33]:
print(my_str.isalnum())

True

In [35]:
print(10==9)

False

In [37]:
print(bool("Hello"))
print(bool(15))

True
True

In [39]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# Python Operators : perform operations on variables and values - BODMAS(brackets od division multiplication addition dividion)
- Arithmetic operators(+,-,*,/,%,**,//)
- Assignment operators
- Comparison operators(==,!=,>,<,>=,<=)
- Logical operators(and, or, not)
- Identity operators(is, is not)
- Membership operators(in, not in)
- Bitwise operators

In [56]:
a= int(input('enter frist number '))
b= int(input('enter second number '))

enter frist number  5
enter second number  2

In [58]:
print(a+b) #7
print(a-b) #3
print(a*b) #10
print(a/b) #2.5 quotient
print(a%b) #1 remainder
print(a**b) #25 power
print(a//b) #2 giver int of quotient

7
3
10
2.5
1
25
2

Operator	Example	Same As	
=	        x = 5	x = 5	
+=	        x += 3	x = x + 3	
-=	        x -= 3	x = x - 3	
*=	        x *= 3	x = x * 3	
/=	        x /= 3	x = x / 3	
%=	        x %= 3	x = x % 3	
//=	       x //= 3	x = x // 3	
**=	       x **= 3	x = x ** 3	
&=	       x &= 3	x = x & 3	
|=	       x |= 3	x = x | 3	
^=	       x ^= 3	x = x ^ 3	
>>=	      x >>= 3	x = x >> 3	
<<=	       x <<= 3	x = x << 3	
:=	       print(x := 3)	x = 3
print(x)

In [60]:
x=20
y=30
print(x is y)
print(x == y)

False
False

In [62]:
id(x) # check memory adress

4378812784

In [64]:
a = 20
id(a)

4378812784

# LIST

- data structure used to store collection of data
- [], ordered, changable allow duplicates
- lists items are indexed, strats with [0]

In [68]:
list1 = ['banana' ,'apple', 'cherry']
print(list1)

['banana', 'apple', 'cherry']

In [70]:
len(list1) # length of list

3

In [74]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [80]:
type(list1)

list

In [82]:
print(list1[1])

banana

In [84]:
print(list1[-1])

cherry

In [88]:
# start with index 2 ends with 4(not included)
list2 = [1, 5, 7, 9, 3]
print(list2[1:4])

[5, 7, 9]

In [90]:
print(list2[:4]) # untill 4(last 4 is not incuded)

[1, 5, 7, 9]

In [92]:
print(list2[2:])

[7, 9, 3]

In [94]:
l3 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(l3[-4:-1])

['orange', 'kiwi', 'melon']

In [98]:
# chnage od item
l3[2] = "blackcurrent"
print(l3)

['apple', 'banana', 'blackcurrent', 'orange', 'kiwi', 'melon', 'mango']

In [102]:
# insert at paticular location
l3.insert(2, 'watermelon')
print(l3)

['apple', 'banana', 'watermelon', 'blackcurrent', 'orange', 'kiwi', 'melon', 'mango']

In [104]:
# append() add to thr end of the list

l3.append('orange')
print(l3)

['apple', 'banana', 'watermelon', 'blackcurrent', 'orange', 'kiwi', 'melon', 'mango', 'orange']

In [106]:
#extend() will add 2 lists combine into one
a = ["apple", "banana", "cherry"]
b = ["mango", "pineapple", "papaya"]
a.extend(b)
print(a)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [108]:
print(a)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [116]:
a= ['apple','banana']
a.remove('banana')
print(a)

['apple']

In [124]:
b = ["apple", "banana", "cherry"]
b.pop()
print(b)

['apple', 'banana']

In [126]:
list1 = ["apple", "banana", "cherry"]
del list1[0]
print(list1)

['banana', 'cherry']

In [128]:
list1.clear()
print(list1)

[]



append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

# Tuple 

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [132]:
# Accsee tuple - indexing +ve and -ve, Range

t1 = ('banana','apple','grapes')
print(t1[1])

apple

In [134]:
t2 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(t2[2:5])

('cherry', 'orange', 'kiwi')

In [136]:
# update

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [142]:
# add tuple to tuple 

thistuple = ("apple", "banana", "cherry")
y = ("orange",) # remeber include , at the end if only 1 item in tuple
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [144]:
#unpacking a Tuple

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [146]:
# join 2 tuple
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# methods

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [156]:
t1= (1,2,3,1,3,2,1,4)
t1.count(1)

3

# Sets

-unodered, unchangable, unindexed, {}
- Note: Set items are unchangeable, but you can remove items and add new items.

In [158]:
set1 = {"apple", "banana", "cherry"}

print(len(set1))

3

In [2]:
# no repeted value - no dupliocate values
set1 = {"apple", "banana", "cherry","apple"}
set2 = {1, 5, 7, 9, 3,9 }
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [4]:
# combination of str and int in a set
set1 = {"abc", 34, True, 40, "male"} 
print(set1)

{True, 34, 'male', 40, 'abc'}

In [6]:
#type of fun
print(type(set1))

<class 'set'>

In [10]:
#no indexing-- 
# add
set1.add('female')
set1

{34, 40, True, 'abc', 'female', 'male'}

In [14]:
set1 = {"abc", 34, True, 40, "male"} 
set2 = {'abc', 34, 40,'male'}
set1.difference(set2)

{True}

In [16]:
set1.remove('male')
set1

{34, 40, True, 'abc'}

In [18]:
set1 = {"abc", 34, True, 40, "male"} 
set2 = {'abc', 34, 40,'male'}
set1.intersection(set2)

{34, 40, 'abc', 'male'}

In [20]:
set1.intersection_update(set2)

In [22]:
set1

{34, 40, 'abc', 'male'}

# Dictonary

- Dictionaries are used to store data values in key:value pairs.

- A dictionary is a collection which is ordered*, changeable and do not allow duplicates, indexed.{}

#Dictonary

In [24]:
#create dictonary

d1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(d1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [26]:
print(type(d1))

<class 'dict'>

In [30]:
# Accessing items

x=d1['model']
print(x)

Mustang

In [34]:
x=d1.get('brand')
print(x)

Ford

In [36]:
# to return all keys

print(d1.keys())

dict_keys(['brand', 'model', 'year'])

In [38]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [40]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [42]:
#change item

car.update({'year':1997})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1997, 'color': 'white'}

In [46]:
#remove 

car.pop('color')
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1997}